* {
    box-sizing: border-box;
    border: solid 2px black;
    font-family: 'Amatic SC', cursive;
    color: white;
    overflow: hidden;
    margin: 0;
  }
  
  body {
    display: flex;
    height: 100vh;
    width: 100vw; 
}

.section-1,
.section-3 {
  height: 100vh;
    width: 15vw;
    background-color: purple;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-2 {
  height: 100vh;
    width: 70vw;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px; 
}

h1 {
  font-size: 90px;
}

.choose-game {
  font-size: 40px;
}

.human-logo, 
.computer-logo {
  margin: 20px
}

.classic-btn, 
.difficult-btn, 
.classic-title, 
.difficult-title {
  height: 12rem;
  width: 12rem;
  color: black;
  margin: 10px;
  font-size: 4.5vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0
}

  .classic-title, .difficult-title {
    height: 3rem
  }

  .classic-rules, 
  .difficult-rules {
    height: 7rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    font-size: 2vh;
    color: black;
    padding: 0;
  }

  .classic-btn, 
  .difficult-btn {
    display: flex;
    align-items: center;
  }

  .buttons-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px
  }

  .home-page-buttons {
    display: flex;
    flex-flow: column;
  }

  h3 {
    margin: 0px

  }
  .icons {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .classic-btn, 
  .difficult-btn, 
  .paper, 
  .rock, 
  .scissors, 
  .iguana, 
  .alien, 
  .change-btn {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .change-btn {
    background-color: black;
    margin-top: 2rem;
    height: 2rem;

  }

   .scissors, 
   .rock, 
   .paper, 
   .iguana, 
   .alien {
    border: none;
    background-color: purple;
  }

  .human-choice {
    height: 8vh;
    width: 8vh
  }